html {
    scroll-behavior: smooth;
}

// MAIN PAGE STRUCTURE
body {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
    min-height: 100vh;
}

body > header,
body > app-header {
    grid-area: header;
}

body > main {
    grid-area: main;
}

body > footer,
body > app-footer {
    grid-area: footer;
}