$border-colour: #dbdbdb;
$border-colour__hover: #303030;
$border-radius: 0.3rem;
$active-colour: #d9edf7;

.button-toggle{

    &__container {
        display: flex;
    }

    &__legend {
        margin-bottom: 0.4rem;
        font-weight: 700;
    }

    &__input {
        $radio-root: &;
        height: 0;
        width: 0;
        opacity: 0;

        &__label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            flex-basis: 0;
            min-height: 4rem;
            border: 1px solid $border-colour;
            cursor: pointer;

            &:first-of-type {
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            &:last-of-type {
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }

            &:hover {
                border-color: $border-colour__hover;
            }

            @at-root #{$radio-root}:checked + & {
                font-weight: 700;
                background-color: $active-colour;
                border-color: $active-colour;
            }

            @at-root #{$radio-root}:focus-visible + & {
                outline: black auto 1px;
                outline-offset: 2px;
            }
        }
    }
}