<div class="demo__container">
    <fieldset class="button-toggle__container">
        <legend class="button-toggle__legend">My Radio Group 1 Question</legend>
        <input type="radio" name="myRadioGroup1" id="myRadioGroup1ValueA" value="valueA" class="button-toggle__input">
        <label for="myRadioGroup1ValueA" class="button-toggle__input__label">Yes</label>
        <input type="radio" name="myRadioGroup1" id="myRadioGroup1ValueB" value="valueB" class="button-toggle__input">
        <label for="myRadioGroup1ValueB" class="button-toggle__input__label">No</label>
    </fieldset>
    <br>
    <fieldset class="button-toggle__container">
        <legend class="button-toggle__legend">My Radio Group 2 Question</legend>
        <input type="radio" name="myRadioGroup2" id="myRadioGroup2ValueA" value="valueA" class="button-toggle__input">
        <label for="myRadioGroup2ValueA" class="button-toggle__input__label">Value A</label>
        <input type="radio" name="myRadioGroup2" id="myRadioGroup2ValueB" value="valueB" class="button-toggle__input">
        <label for="myRadioGroup2ValueB" class="button-toggle__input__label">Value B</label>
        <input type="radio" name="myRadioGroup2" id="myRadioGroup2ValueC" value="valueC" class="button-toggle__input">
        <label for="myRadioGroup2ValueC" class="button-toggle__input__label">Value C</label>
    </fieldset>
</div>

<style>
    .demo__container{
        max-width: 30rem;
    }
</style>